
body {
  overflow-x: hidden;
}

$aside-width: 5rem;

#ctrl-bar {
  display: inline-block;
  position: fixed;
  width: $aside-width;
  height: 100%;
  border-right: thin solid hsla(0, 0, 50%, 1);
}

#main {
  display: inline-block;
  position: relative;
  padding-left: $aside-width;
  width: 100%;

  .category {
    position: fixed;
    width: $aside-width * 0.75;
    height: 100%;
    border-right: thin solid hsla(0, 0, 50%, 1);
  }

  .title {
    position: relative;
    margin-left: $aside-width * 0.75;
    width: 100%;
    border-bottom: thin solid hsla(0, 0, 50%, 1);

    .seach {
      height: 5rem;
    }

    h1 {
      position: relative;
      padding-left: 1.5rem;
      font-family: Monda;
    }
  }
}
