
body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

.overlay {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background: hsla(0, 0, 0, 0.975);
}

.play-info .quality .quality--selected {
  border: thin solid hsla(215, 50, 35, 1);
  border-radius: 0.125rem;
}
.play-info .quality .quality--unavailable {
  pointer-events: none;
  opacity: 0.5;
}
.indicator {
  display: block;
  position: relative;
  width: 0;
  height: 0;
  border-left: 0.25rem solid transparent;
  border-right: 0.25rem solid transparent;
  border-bottom: 0.25rem solid mediumturquoise;
  transition: left 0.5s;
}

$video-height: 96;
.play-info {
  position: fixed;
  margin-top: vHeight($video-height);
  width: 100%;

  * {
    cursor: default;
  }

  & > * {
    display: inline-block;
    position: absolute;
    padding-top: 0.25rem;
    padding-right: 0.25rem;
    width: 15%;
    height: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.85rem;
    color: hsla(215, 50, 35, 1);
    line-height: 1;
    border-left: thin solid hsla(215, 50, 20, 0.5);
    background: hsla(215, 50, 20, 0.1);
    background-clip: content-box;
  }

  $init: 0.35;
  @for $i from 1 through 2 {
    .streaming-info {
      &:nth-child(#{$i}) {
        left: percentage($init + 0.15 * ($i - 1));
      }
    }
  }

  .quality-option {
    margin-top: -0.125rem;
    padding: 0.125rem;
    border: thin solid transparent;
    transition: border 1s;
  }

  span {
    display: inline-block;
    margin-top: 0.5rem;
    margin-left: 0.75rem;
  }
}

video {
  position: relative;
  left: 50vw;
  height: vHeight($video-height);
  outline: none;
  transform: translateX(-50%);
}
