<!DOCTYPE html>
<html lang="cn">

  {% include head.html %}

  <body>

    <aside id="ctrl-bar"></aside>

    <div id="main">

      <div class="slider">
        <video controls></video>
      </div>

      <aside>
      </aside>

      <div class="board-ctn board">
        <img class="board-ctn" src="/images/miss-sloane.jpg">
        <header class="board-ctn title">
          <h1 class="board-ctn">Political Films</h1>
        </header>
      </div>

      <div class="list">
        <!-- <div class="list-view"></div> -->
        <ul class="list-items">
          <li class="list-item">
          <li class="list-item">
          <li class="list-item">
          <li class="list-item">
        </ul>
      </div>

      <div class="promotion"></div>

    </div>

    <script src="/js/index.js"></script>

  </body>

</html>

