<!DOCTYPE html>
<html lang="cn">

  {% include head.html %}

  <body>

    <aside id="ctrl-bar"></aside>

    <div id="main">

      <div class="slider"></div>

      <aside></aside>

      <div class="board">
        <header class="title">
          <h1>Political Films</h1>
        </header>
      </div>

      <div class="list">
        <!-- <div class="list-view"></div> -->
        <ul class="list-items">
          <li>
          <li>
          <li>
          <li>
        </ul>
      </div>

      <div class="promotion"></div>

    </div>

    <script src="/js/index.js"></script>

  </body>

</html>

