
<!DOCTYPE html>
<html lang="cn">

  {% include head.html %}

  <body>

    <div class="overlay"></div>

    <div class="play-info">
      <div class="streaming-info speed"><span></span></div>
      <div class="streaming-info quality">
        <span>Quality :</span>
        <span class="quality-option 1080p">1080p</span>
        <span class="quality-option 720p">720p</span>
        <span class="quality-option 360p">360p</span>
      </div>
    </div>

    <video controls></video>

    <script src="/js/REST.js"></script>
    <script src="/js/watch.js"></script>

  </body>

</html>
